body{
   font-family: var(--subFont);
    color: rgba(var(--blackClr), 1);
}
:root{
    --mainFont: 'Cormorant Garamond', serif;
    --subFont: 'Quattrocento Sans', sans-serif;
    --blackClr:0,0,0;
    --whiteClr:255,255,255;
    --themeClr:220, 170, 37;
}
h1,h2,h3,h4,h5,h6{ font-family: var(--mainFont);line-height: 1.1;}
.relative{position: relative;}
.sticky{position: sticky;}
.absolute{position: absolute;}
.fixed{position: fixed;}

.pointer{cursor: pointer;}
.op-0{opacity: 0;}

.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}

.d-flex{display: flex;}
.inline-center{justify-content: center;}
.inline-space-between{justify-content: space-between;}
.flex-column{flex-direction: column;}
.flex-wrap{flex-wrap: wrap;}
.block-center{align-items: center;}
.d-grid{display: grid;}
.d-none{display: none;}

.gap-20{gap:20px}

.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
.fw-900{font-weight: 900;}

.py-100{padding-block: 100px;}
.mx-auto{margin-inline: auto;}
.mxs-auto{margin-inline-start: auto;}
.mxe-auto{margin-inline-end: auto;}
.my-auto{margin-block: auto;}

.mye-20{margin-block-end: 20px;}
.mye-30{margin-block-end: 30px;}

.text-center{text-align: center;}

.text-balance{text-wrap: balance;}

.row{margin-inline: -15px;}
.column{padding-inline: 15px;max-width: 100%;flex-basis: 0;flex: 1;}

.l6{width: 50%;}


a.navbrand {
  color: rgba(var(--whiteClr),1);
  font-size: 24px;
}
.btn{padding: 12px 20px;cursor: pointer;border: none;background: rgba(var(--themeClr), 1);color: rgba(var(--whiteClr), 1); min-height: 50px;}
.container{width: min(100%,1170px);margin-inline: auto;padding-inline: 15px;}
header{ transition: 0.5s ease-in-out;inset-inline: 0;inset-block-start: 0;height: 100px;z-index: 99;border-block-end: 1px solid rgba(var(--whiteClr),0.1)}
.navbrand img{max-height: 50px;}
.nav__link{color: rgba(var(--whiteClr), 1);
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  &:is(:hover,:focus,.active){
    color: rgba(var(--themeClr), 1)
  }
}
.herosection{background-size: cover; min-height: 100dvh;background-position: center;isolation: isolate;}
.herosection::after{content: '';inset: 0;background-color: rgba(var(--blackClr), .7);position: absolute;z-index: -1;}
.hero__title{font-size: clamp(32px,5vw,76px); color: rgba(var(--whiteClr), 1);}
.hero__subtitle{font-size: clamp(14px,2vw,20px); ; color: rgba(var(--whiteClr), .6);}
.nav__toggle {width: 24px;height: 20px;z-index: 3;
    & label {width: 100%;height: 100%;
      & span {width: 100%;height: 2px;display: flex;background: rgba(var(--whiteClr), 1);transition: 0.5s ease-in-out;
      }
    }
  }
  header.stickyHeader {
   
    background: rgba(var(--blackClr), 1);
    height: 70px;
}
  body:has(#nav__toggle:checked) .navigation {
    transform: translatex(0);
  }
  h2.title{font-size: 52px;}
  h2.title span {
    font-size: 12px;
    font-family: 'Quattrocento Sans';
    color: rgba( var(--themeClr),0.6);
    letter-spacing: 1px;
}
.para{opacity: 0.5;}